<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      Phraze synthesizer
    </title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Phraze", suffix: " · Phoenix Framework" %>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <style>
    .rtcvideo {
        background-color: black;
        width: 352px;
        height: 240px;
    }
    </style>

  </head>
  <body>
  <section class="row">
<form>
    <input id="message" type="text" placeholder="room name">
    <br>
    <br>
    <input type="submit" value="connect" id="button">
</form>
<div id="mediaLayout">
    <main id="localLayout" width="352" height="240">
        <video id="localVideo" class="rtcvideo" playsinline autoplay muted>
        </video>
    </main>
    <div id="remoteLayout">
    </div>
</div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"/>
</section>
  </body>
</html>
