<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="application/javascript" defer="defer" src="js/application.js"></script>
        <style>
        .rtcvideo {
            background-color: black;
            width: 352px;
            height: 240px;
        }
        </style>
        <title>
            Agent 1337
        </title>
    </head>
    <body>
        <form>
            <input id="extension", type="text" placeholder="username"/>
            <input id="login" type="submit" value="Login"/>
            <input type="reset">
        </form>
        <form>
            <input id="call", type="text" placeholder="user to call"/>
            <input id="rtcChat" type="submit" value="call"/>
            <input type="reset">
        </form>

        <div><input id="vriCall" type="button" value="vri"></div>

<!-- this probably should be broken into its own html page -->
        <form>
            <input id="interpreterUsername" type="text" placeholder="interpreter username"/>
            <input id="vriLogin" type="submit" value="Login"/>
            <input type="reset">
        </form>
<!-- interpreter interface -->

        <form>
            <!-- channel is for chatroom -->
            <input id="channel" type="text" placeholder="room name"/>
            <input id="submitChannel" type="submit" value="channel"/>
            <input type="reset">
        </form>

        <div id="mediaLayout">
            <main id="localLayout" width="352" height="240">
                <video id="localVideo" class="rtcvideo" playsinline autoplay muted>
                </video>
            </main>
            <div id="remoteLayout">
            </div>
        </div>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"/>
    </body>
</html>
